body {
  padding-top: 50px;
    /* 1em = 10px
 background-color: #3d3d5c;
    */

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('static/img/background.jpg');
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}