body {
  padding-top: 50px;
    /* 1em = 10px
  background-image: url('static/img/background.jpg');
    */

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #696969;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar.navbar-default {
background-image: url('img/cover.jpg');
    background-size: 100%;
}