{% extends "bootstrap/base.html" %}

{% block title %}
The Ultimate Future Teller
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='common-css.css')}}">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="list-group ">
    <a class="list-group-item ">
        <h2 class="list-group-item-heading text-center">Search fighter</h2>
        <p class="list-group-item-text text-center">
        <form method="post">
            <input type="hidden" name="todo" value="search fighter">
            <div class="text-center" style="padding : 5;"><b>Name</b> <input name="name" type="text"/>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Search...</button>
            </div>
        </form>
        </p></a>
</div>
<div class="list-group ">
    <a class="list-group-item ">
        <h2 class="list-group-item-heading text-center">Insert fighter</h2>
        <p class="list-group-item-text text-center">
        <form method="post">
            <input type="hidden" name="todo" value="insert fighter">
            <div class="text-center" style="padding : 5;"><b>Name</b> <input name="name" type="text"/>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Insert</button>
            </div>
        </form>
        </p></a>
</div>
<div class="list-group ">
    <a class="list-group-item ">
        <h2 class="list-group-item-heading text-center">Create event</h2>
        <p class="list-group-item-text text-center">

        <form method="post">
            <input type="hidden" name="todo" value="create event">
            <div class="text-center" style="padding : 5;"><b>Event's name</b> <input name="name" type="text"/>
            </div>
            <div class="form-group row col-md-offset-4 col-md-4">
                <label for="example-date-input" class="col-2 col-form-label">Date</label>

                    <input class="form-control" name="date" type="date" value="2017-12-19" id="example-date-input">

            </div>
            <div class="row">
            <div class="text-center">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
                </div>
        </form>
        </p></a>
</div>

{% endblock %}