{% extends "bootstrap/base.html" %}

{% block title %}
The Ultimate Future Teller
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='common-css.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">The Ultimate Future Teller</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                {% if not isOnline %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                {% endif %}
                <li><a href="{{ url_for('dash') }}">UFC Bet</a></li>
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {% if isOnline %}
                <li><a>Logged as: <b>{{ username }}</b> Your balance: <b>{{ balance }}</b> </a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    {% if not isOnline %}
    <div class="col-md-6 ">
        <div class="card bg-dark text-white" style="width: 20rem; padding-top: 30px;">
            <div class="card-block">
                <h4 class="card-title">Already a member?</h4>
                <p class="card-text">Log in, and have some fun</p>
                <a href="{{ url_for('login') }}" class="btn btn-primary">LOG IN</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="card bg-dark text-white" style="width: 20rem; padding-top: 30px;">
            <div class="card-block">
                <h4 class="card-title">First time here?</h4>
                <p class="card-text">Sign up for free and get 1000 currency units for the beginning!</p>
                <a href="{{ url_for('signup') }}" class="btn btn-primary">SIGN UP!</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if isOnline %}
    <div class="col-md-12 ">
            <div class="card bg-dark text-white" style="width: 20rem;  padding-top: 30px; ">
                <div class="card-block bg-dark text-white">
                    <h4 class="card-title">You are logged in</h4>
                    <p class="card-text">Enjoy buddy!</p>
                    <a href="{{ url_for('dash') }}" class="btn btn-primary">Go to the DASHBOARD</a>
                </div>
            </div>
    </div>


    {% endif %}

</div><!-- /.container -->
{% endblock %}