{% extends "bootstrap/base.html" %}

{% block title %}
{{ list[1] }}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='top5s.css')}}">
{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index')}}">The Ultimate Future Teller</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('top5s') }}">TOP 5's</a></li>
                    </ul>
                </li>
                {% if not isOnline %}
                <li><a href="{{ url_for('login') }}">LOG IN</a></li>
                <li><a href="{{ url_for('dash') }}">UFC BET</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                {% else %}
                <li><a href="{{ url_for('dash') }}">UFC BET</a></li>
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-3 hidden-sm hidden-xs sidebar">
        <div class="row">
            <div class="container-fluid">
                <div style=" margin-top: 25%">
                    <div class="fb-page" data-href="https://www.facebook.com/ultimateft.net"
                         data-small-header="false"
                         data-adapt-container-width="true" data-hide-cover="false"
                         data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/ultimateft.net"
                                    class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/ultimateft.net">ultimateft.net</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-offset-3 col-md-7">

        <h1>{{list[1] |safe}}</h1>
        {{list[3] |safe}}
        <h5>Author: {{ list[5] }}, {{ list[6] }}</h5>


    </div>
    <div class="col-md-offset-10 col-md-2 hidden-sm hidden-xs otherside">

        <div style=" margin-top: 45%;">
            <h3>Next post: </h3>
            <a href="{{ url_for('top5_post', id = next[0]) }}" >

                    <div class="col-md-12 rounded fill"
                         style=" margin-top: 20%;
                ">

                        <div class="panel-body">
                            <img src="{{ url_for('static', filename='img/top5post/' + next[2] ) }}" alt="Next" style="width:100%;">
                            <div class="centered"><h2>{{ next[1] }}</h2>
                            </div>

                        </div>
                    </div>

            </a>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1980450765546199';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


</script>
{% endblock %}